# ICC Cricket World Cup CWC23 All innings

### Install the dataset from the Kaggle: https://www.kaggle.com/datasets/jdaustralia/icc-cwc23-all-innings-cleaned

#### The data set used here is from the above link and renamed as ICC_WC.csv

In [2]:
# Here we are creating the Python virtual environment for installing all the requirements

import pandas as pd

In [5]:
icc = pd.read_csv('ICC_WC.csv')
icc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team             1437 non-null   object
 1   player           1437 non-null   object
 2   bat_or_bowl      1437 non-null   object
 3   bb_bf            1437 non-null   int64
 4   runs             1437 non-null   int64
 5   wkts             574 non-null    float64
 6   wicketball_prob  1437 non-null   float64
 7   runs_per_ball    1437 non-null   float64
 8   opposition       1437 non-null   object
 9   ground           1437 non-null   object
 10  start_date       1437 non-null   object
 11  overs            574 non-null    float64
 12  mdns             574 non-null    float64
 13  econ             574 non-null    float64
 14  inns             1437 non-null   int64
 15  4s               863 non-null    float64
 16  6s               863 non-null    float64
 17  sr               863 non-null    float64
 18  not_out          849 non-null    float64
 19  mins             863 non-null    float64
dtypes: float64(11), int64(3), object(6)
memory usage: 224.7+ KB

In [7]:
icc.head()

,team,player,bat_or_bowl,bb_bf,runs,wkts,wicketball_prob,runs_per_ball,opposition,ground,start_date,overs,mdns,econ,inns,4s,6s,sr,not_out,mins
0,PAK,Shaheen Shah Afridi (PAK),bowl,60,45,3.0,0.05,0.750000,v South Africa,Chennai,27-Oct-23,10.0,0.0,4.5,2,NaN,NaN,NaN,NaN,NaN
1,ENG,DJ Willey (ENG),bowl,60,45,3.0,0.05,0.750000,v India,Lucknow,29-Oct-23,10.0,2.0,4.5,1,NaN,NaN,NaN,NaN,NaN
2,NZ,MJ Henry (NZ),bowl,60,48,3.0,0.05,0.800000,v England,Ahmedabad,5-Oct-23,10.0,1.0,4.8,1,NaN,NaN,NaN,NaN,NaN
3,NZ,LH Ferguson (NZ),bowl,60,49,3.0,0.05,0.816667,v Bangladesh,Chennai,13-Oct-23,10.0,0.0,4.9,1,NaN,NaN,NaN,NaN,NaN
4,AFG,Noor Ahmad (AFG),bowl,60,49,3.0,0.05,0.816667,v Pakistan,Chennai,23-Oct-23,10.0,0.0,4.9,1,NaN,NaN,NaN,NaN,NaN